<div class="boxer">

  <h2>Files, References and Parties associated with {{centre.abbrev}}</h2>
  
  <table width="80%">
    <tbody>
      <tr class="row2">
        <td>There are {{refs|length }} references associated with {{centre}} </td>
      </tr>
      <tr class="row1">
        <td>There are {{files|length }} files associated with {{centre}} </td>
      </tr>
      <tr class="row2">
        <td>There are {{parties|length }} people and institutions associated with {{centre}} </td>
      </tr>
    </tbody>
  </table>
   
</div>