<div class="boxer">
  <h4> Introduction </h4>
  <p>Each CMIP5 modelling centre performs <em>Simulations</em> which run <em> 
  Models </em> on <em>Platforms</em>. The purpose of this questionnaire is to 
  glean information about these platforms, models and simulations and how the 
  simulations conformed to the CMIP5 experiment requirements. We expect each 
  centre to describe at least one platform, one model and multiple simulations 
  following the workflow listed below: 
  <ol>
    <li>Describe a Platform</li>
    <li>Describe a Model and Grid</li>
    <li>Describe some Simulations</li>
  </ol>
  It is not possible to start entering simulation information until at least one 
  model and one platform have been described. <br/>  Each new platform, grid 
  and model you create will be given a generic name you will need to give these 
  more appropriate short names so they can be distinguished from each other.   
  </p>
  <h4>Definitions</h4>
  <p><em>Models</em> are made up of <em>Components</em>.</p>
  <p><em>Simulations</em> conform to the <em>Numerical Requirements</em> of 
  <em>Experiments</em> via what we call <em>Conformances</em>.</p> 
  <p><em> Conformances </em>will consist of either specific code characteristics 
  (defined here as <em>model modifications</em>) or the use of specific boundary 
  or initial conditions.</p>
</div>