<div class="boxer">
  
  <h2>Simulations associated with {{centre.abbrev}}</h2>
  
  <table width="100%">
    
    <tbody>
      {% for sgroup in sims %}
        <tr class="{% cycle 'row2' 'row1'%}">
          {% for s in sgroup %}
            <td width="28%">
              <center>
                <span>
                  <a id="edSimButton{{s.id}}" href="{{s.url}}">{{s.abbrev}}</a>
                </span>
                <script type="text/javascript">
                  var oLinkEdSimBut{{forloop.counter}} = new YAHOO.widget.Button("edSimButton{{s.id}}");
                </script>
              </center>
            </td>
            <td width="5%">
              <center>
                {% if s.isComplete %}
                  <img src="/static/icons/icon-tick.png" title="This has been successfully published at version {{ s.documentVersion }}">
                {% endif %}
              </center>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>