<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
      {% block title %}
        <title>CMIP5 Model Metadata Questionnaire</title>
      {% endblock %}
      
      <!-- Site-wide stylesheets -->
      <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
      <link rel="stylesheet" href="/static/css/cycletable.css" type="text/css" />
      
      <!-- YUI javascript and css-->
      <script type="text/javascript" src="/static/yui/build/yahoo/yahoo-min.js"></script>
      <script type="text/javascript" src="/static/yui/build/event/event-min.js"></script>
      <script type="text/javascript" src="/static/yui/build/connection/connection-min.js"></script>
      <script type="text/javascript" src="/static/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
      <script type="text/javascript" src="/static/yui/build/treeview/treeview-min.js"></script>
      <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
      <script type="text/javascript" src="/static/yui/build/button/button.js"></script>
      <script type="text/javascript" src="/static/yui/build/container/container-min.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/yui/build/treeview/assets/skins/sam/treeview.css">
      <link rel="stylesheet" type="text/css" href="/static/yui/build/button/assets/skins/sam/button.css"> 
      <link rel="stylesheet" type="text/css" href="/static/yui/build/container/assets/skins/sam/container.css" />
                   
      <!-- Jquery, Jquery-UI, and Jquery-UI css  -->
      <script type="text/javascript" src="/static/jquery/jquery-1.6.2.min.js"></script>
      <script type="text/javascript" src="/static/jquery/jquery-ui-1.8.16.custom.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/jquery/themes/smoothness/jquery-ui-1.8.16.custom.css" />
      
      <!-- Additional jquery libraries and associated css-->
      <script type="text/javascript" src="/static/jquery/jquery-collapsible/jquery.collapsible.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-collapsible/jquery.collapsible.css"/>      
      <script type="text/javascript" src="/static/jquery/jquery-checkformsave/jquery.checkformsave.js"></script>      
      <script type="text/javascript" src="/static/jquery/jquery-dropdown-checklist/ui.dropdownchecklist-1.1-min.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-dropdown-checklist/ui.dropdownchecklist.standalone.css"/>      
      <script type="text/javascript" src="/static/jquery/jquery-datatables/jquery.dataTables.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-datatables/datatables.css"/>
      <script type="text/javascript" src="/static/jquery/jquery-fixer/jquery.fixer.js"></script>
      <script type="text/javascript" src="/static/jquery/jquery-confirmaction/jconfirmaction.jquery.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-confirmaction/jconfirmaction.css"/>
      
      <!-- Site-wide jquery scripts-->
      
        <!-- making all submit buttons jquery-ui -->
        <script type="text/javascript">
         $(function() {
          $( "input:submit, button, .buttonbar a").button();
         });
        </script>
		      
	    <!-- Open a confirmation box on actions marked 'ask' -->
		      
        <script type="text/javascript">
          $(function() {
            $(".ask").jConfirmAction();
          });
        </script>
        
      <!-- Page specific head information...css overrides etc-->
      {% block pagehead %}
      {% endblock %}
     
    </head>
    
    
    <body class="yui-skin-sam">
        <div id="page">
            <div id="header" class="stfc">
                <table>
                <tr>
                <td width="100px" align="center"><img height="60" src="/static/icons/eu_fw7_logo.jpg"/></td>
                <td width="900px" align="center">
                <center><h1>CMIP5 Metadata Questionnaire (1.5.0)</h1>
                <p> Completed data will be sent to the Earth System Grid for inclusion in all official CMIP5 catalogues.</p>
                </td>
                <td width="100px" align="center"><img height="60" src="/static/icons/enes_logo.png"/></td>
                </tr>
                </table>
            </div>
            <div id="banner">
                <center class="red">The Questionnaire Support Team can be contacted on our dedicated email: <a href="mailto:cmip5qhelp@stfc.ac.uk">cmip5qhelp@stfc.ac.uk</a>  </center>
                <center class="red">Instructions for gaining access to the questionnaire can be found <a href="http://metafortrac.badc.rl.ac.uk/trac/wiki/CMIP5/QuestionnaireAccess" target="_blank">here</a></center>
                <center class="red">For general CMIP5 related questions please email <a href="mailto:cmip5-helpdesk@stfc.ac.uk">cmip5-helpdesk@stfc.ac.uk</a></center>
            </div>
            <div class="main">
             <table>
                <tr>
                <td width="850px">
                <div class="tabnav">
                    <ul>
                        {% for tab in tabs %}
                            {% ifequal tab.pos "left" %}
                                <li {% ifequal tab.active 1 %} class="selected"{% endifequal %}{% ifequal tab.active -1 %} class="subdue"{% endifequal %}>
                    <a href="{{tab.url}}">{{tab.name}}</a></li>
                    {% endifequal %}
                    {% endfor %}
                    </ul>
                </div>
                </td>
                <td width="200px" align="right">
                <div class="tabnav">
                    <ul>
                    {% for tab in tabs %}
                    {% ifequal tab.pos "right" %}
                    <li {% ifequal tab.active 1 %} class="selected"{% endifequal %}{% ifequal tab.active -1 %} class="subdue"{% endifequal %}>
                    <a href="{{tab.url}}">{{tab.name}}</a></li>
                    {% endifequal %}
                    {% endfor %}
                    </ul>
                </div>
                </td>
                </tr>
                </table>
                <div class="tabcontent">
                    {% block content %}
                    {% endblock %}
                </div>  
            </div>
            <div id="footer" class="stfc" >
                <table width="100%"> 
                    <tr>
                        <td>Produced by</td><td><img height="60" src="/static/icons/metafor_logo.png"/></td><td> and</td><td><img height="60" src="/static/icons/curator.gif"/></td>
                        <td><table>
                        <tr><td>hosted at the</td></tr> 
                        <tr><td> <a class="blue" href="http://badc.nerc.ac.uk">British Atmospheric Data Centre</a></td></tr></table></td>
                        <td>for the </td>
                        <td align="right"><img  src="/static/icons/CEDA_RightButton60.png" /></td>
                        
                    </tr> 
                </table>
                        
            <!--<b class="hb4"/><b class="hb3"/><b class="hb2"/><b class="hb1"/><b class="hb0"/>-->
            </div>
        </div>

    </body>

</html>