{% extends "base.html" %}
{% block content %} 
<div class="boxer"><h1>{{title}}</h1></div>
<div class="boxer2">
<div class="boxer">
{% if showChoices %}
<table width="100%">
<tr>
<td width="75%">
<form action='{{chooseURL}}' method='post' onsubmit="myProject.bypassConfirm()">
<table>
  {{rform}}
<tr><td colspan="2"><input type="submit" value="Select"/></td></tr>
</table>
</form>
</td>
<td><p><a href="{{listURL}}"> Edit the items on this list </a></p></td>
</tr>
</table>
{% else %}
<p> There are currently none to chose from <p>
{% endif %}
</div>
<div class="boxer">
<h4> Add {% if showChoices %} another{% else %} one{% endif %}: </h4>
<div id="data">
    <form action="{{editURL}}" method="POST" onsubmit="myProject.bypassConfirm()">
       {% include editTemplate %}
    </form>
</div>
</div>

<script type="text/javascript">
    var oLinkButton1 = new YAHOO.widget.Button("morelinkbut"); 
</script>
</div>
{% endblock %}