{% extends "base.html" %}
{% block content %} 
<h1> General Introduction </h1>
<p>The CMIP5 metadata questionnaire will provide vital information to help users of the CMIP5 database understand why different models respond in unique ways to the forcings defined by the CMIP5 experiment protocol. Completion of the questionnaire is a necessary step towards the publication of your data. The value of the metadata captured by the questionnaire is down to you. The questionnaire will ask you to describe core information about your models and it also gives you the freedom to share further model characteristics as you see fit. Once all the core information has been described you will be able to submit your questionnaire entries to CMIP5. Completing the CMIP5 questionnaire is a demanding task, support will be provided to you by the Metafor team who designed and developed the questionnaire, under the guidance of the CMIP panel, with individuals from the BADC, University of Reading, MetOffice and CERFACS.<p> 
<h4>Help Desk</h4> 
<p>We have set up a help desk <a href="mailto:cmip5qhelp@stfc.ac.uk">cmip5qhelp@stfc.ac.uk</a> for users to contact the questionnaire support team directly</p> 
<h4> Mailing List </h4> 
<p>We have also set up a <a href="mailto:cmip5q@badc.nerc.ac.uk">mailing list </a> where users can ask open questions about the questionnaire and share their experiences with each other. <a href="http://badc.nerc.ac.uk/mailman/listinfo/cmip5q" target="_blank">Register with the cmip5q mailing list.</a></p> 
<h4> Basic Concepts </h4>
<ol>
<li> Each CMIP5 modelling centre is performing <em> Simulations </em> which run <em> Models </em> on 
    <em> Platforms</em>.</li>
<li>The <em> Models </em> are made up of <em>Components</em>.</li>
<li><em>Simulations </em> <em>Conform</em> to the <em>Numerical Requirements</em> of <em> Experiments</em>. </li>
<li><em>Conformances </em> consist of either specific code modifications or the use of specific boundary 
    or initial condition <em>Files</em>.</li>
<li>The top level components under models (also known as <em>Realms</em>) can be <em> Coupled </em> 
    either to other components, or to files. 
    <ul>
        <li><em>Internal Couplings</em> describe couplings to other components.</li>
	    <li><em>External Couplings</em> describe couplings to files.</li>
    </ul>
</li>		
</ol>

<h4> Purpose </h4>
<p>The purpose of this questionnaire is to glean information about... 
<ul>
<li>Models, Components and Platforms,</li>
<li>Simulations, Experiments and Numerical Requirements,</li>
<li>Conformances, Files and Coupling,</li>
</ul>
and/or their relationships.




<h4> Typical Path Through the Questionnaire </h4>
<p> A roadmap to guide you along the typical path through the quesitonnaire has been produced for you to download either as a <a href="http://metaforclimate.eu/trac/attachment/ticket/721/CMIP5QuestionnaireRoadmap-V1_0.ppt"  target="_blank">dynamic powerpoint document</a> or as a <a href="http://metaforclimate.eu/trac/attachment/ticket/721/CMIP5QuestionnaireRoadmap-V1_0.pdf" target="_blank">static pdf file</a>.</p> 

<p> We expect most folk will begin by describing a model. You will need to describe the model in enough
detail to a) validate the model using the validate button (which will tell you which sections remain
incomplete), and b) have enough inputs described to be able to answer conformance questions in the simulations (most of 
these are about how the model met various boundary conditions, so you will need the input requirements for those
boundary conditions to be described. However, validation is not necessary before beginning to fill out a simulation
(although a platform description is necessary), and one can go through an iterative process of trying to fill out
the experiment conformances and going back to the model to describe inputs, then filling out boundary conditions
(either as defaults in the model, or in the  simulation descriptions, or both).</p>

<p> As indicated above, you will need a platform description before filling out a simulation, but that wont
be hard ... </p>

<p>When describing simulations you will be asked to clearly explain how the simulation has met the 
numerical requirements of the experiment with which it is associated.
This is done via the conformance  page, which maps the numerical requirements onto initial and 
boundary conditions (and, if necessary, onto code modifications) .  
You will probably have to dive off and create some initial conditions. </p>

<p> If you are creating an ensemble, you'll need to describe the ensemble members.  We have the concept of 
code modifications for physical ensemble members, and also for code modifications
to a basic state model needed to conform to a numerical experiment. You can create and assign those from
either the ensemble interface or the conformance interface. </p>

<p> Throughout you may need to add references, and make links between components or simulations, and those references. </p>

<h4> External Information </h4>
<p>These links take you to metafor web pages that are not part of the questionnaire so have been configured to open in a new tab.</p>
<ul>
<li>We have set up a <a href="mailto:cmip5q@badc.nerc.ac.uk">mailing list </a> where users can ask open questions about the questionnaire and share their experiences with each other. <a href="http://badc.nerc.ac.uk/mailman/listinfo/cmip5q" target="_blank">Register with the cmip5q mailing list.</a>  </li> 
<li>Users can also contact the questionnaire support team via <a href="mailto:cmip5qhelp@stfc.ac.uk">cmip5qhelp@stfc.ac.uk</a></li> 
<li>A <a href="http://metaforclimate.eu/forums/viewforum.php?f=17" target="_blank"> frequently asked questions</a> forum compiled from earlier testing of the questionnaire is also available to users.</a></li> 
<li>Further information is in the <a href="http://metaforclimate.eu/trac/wiki/CMIP5/QuestionnaireOpenLetter" target="_blank">Open Letter</a> to our users
</ul>

<h4> Version History </h4>
<p>Click <a href="{{urls.vnhist}}" target="_blank">here</a> for a history of changes made to the CMIP5 questionnaire </p>
<p>Click <a href="{{urls.trans}}" target="_blank">here</a> for cim-mapping specific updates </p>


<!--
<h1> Frequently Asked Questions </h1>
<ol>
<li> <p>Why don't you ask about the outputs from components?</p>
<p> Because we tie the outputs to the "realms" (the top level components under
the models) using the realm attribute in your NetCDF output files. </p>
</li>
</ol>
-->
{% endblock %}